extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/class", method="get", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="#{formInfo.name}") #{formInfo.name}
          .col-xs-12.col-sm-10
            input.form-control(name="name")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="#{formInfo.due}") #{formInfo.due}
          .col-xs-12.col-sm-10
            input.form-control(name="due")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="#{formInfo.points}") #{formInfo.points}
          .col-xs-12.col-sm-10
            input.form-control(name="points")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="#{formInfo.status}") #{formInfo.status}
          .col-xs-12.col-sm-10
            select.form-control(name="status")
              each status in statuses
                option= status
        button.btn.btn-default.pull-right Add Assignment